/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Button styles */
button {
  background-color: #4CAF50;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  margin: 20px auto;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3e8e41;
}

/* Section styles */
section {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  max-width: 400px;
  padding: 20px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #4CAF50;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}



button {
  background-color: #4CAF50;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  margin: 20px auto;
  display: block; 
  transition: background-color 0.3s ease;
}